<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Features</title>
    <!-- підключення шрифту -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- підключення стилів -->
    <link rel="stylesheet" href="/static/styles_features.css" />
  </head>
  <body>
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Main content -->
      <div class="main-content">
        <!-- My info -->
        <div class="my-info-container">
          <h2 class="role-title">Irrepressible Minions</h2>
          <h1 class="candidate-name">Personal Assistant</h1>
          <p class="candidate-description">
            This application is designed to manage contacts, phone numbers, notes, and tags as well as to to manage files, their
            descriptions, and user associations. It provides an intuitive user interface for efficiently managing personal or professional contacts, ensuring all relevant
            information is easily accessible and organized. Moreover, it provides an intuitive user interface for efficiently
            managing personal or professional files, ensuring all relevant information is easily accessible and organized
          </p>
        </div>
       
        <!-- Work Experience -->
        <div class="experience-container">
          <h3 class="experience-title">Main Features</h3><br />
          <!-- Company 1 -->
          <div class="company-container">
            <h4 class="company-role-title">
              1. Contact Management </h4>
            <ul class="role-skills">
              <li class="role-skills-item">
                Add, update, and delete contacts
              </li>
              <li class="role-skills-item">
                Each contact can have multiple phone numbers and notes associated with it
              </li>
              <li class="role-skills-item">
                Search contacts by name, phone number, email, birthday, and tags
              </li>
            </ul>
          </div>
          
          <div class="company-container">
            <h4 class="company-role-title">
              2. Phone Number Management </h4>
              <ul class="role-skills">
                <li class="role-skills-item">
                  Add, update, and delete phone numbers
                </li>
                <li class="role-skills-item">
                  Normalization of phone numbers to ensure consistency
                </li>
              </ul>
          </div>

          <div class="company-container">
            <h4 class="company-role-title">
              3. Note Management </h4>
              <ul class="role-skills">
                <li class="role-skills-item">
                  Add and update notes associated with contacts
                </li>
                <li class="role-skills-item">
                  Delete notes while keeping the contact information intact
                </li>
              </ul>
          </div>

          <div class="company-container">
            <h4 class="company-role-title">
              4. Tag Management </h4>
              <ul class="role-skills">
                <li class="role-skills-item">
                  Add, update, and delete tags
                </li>
                <li class="role-skills-item">
                  Search contacts by tags to quickly find contacts associated with specific tags
                </li>
              </ul>
          </div>

          <div class="company-container">
            <h4 class="company-role-title">
              5. Search Functionality </h4>
            <ul class="role-skills">
              <li class="role-skills-item">
                Comprehensive search options, including searching by name, phone number, email, birthday, and tags
              </li>
              <li class="role-skills-item">
                View upcoming birthdays for contacts within the next week
              </li>
            </ul>
          </div>

          <div class="company-container">
            <h4 class="company-role-title">
              6. User Authentication </h4>
            <ul class="role-skills">
              <li class="role-skills-item">
                Secure login required for accessing and managing contact information
              </li>
              <li class="role-skills-item">
                Each user can only access and manage their own contacts
              </li>
            </ul>
          </div>
          
          <div class="company-container">
            <h4 class="company-role-title">
              7. Pagination and Organization </h4>
            <ul class="role-skills">
              <li class="role-skills-item">
                Paginated views for managing large lists of contacts, phone numbers, notes, and tags
              </li>
            </ul>
          </div>

          <div class="company-container">
            <h4 class="company-role-title">
              8. RSS Feed Integration </h4>
            <ul class="role-skills">
              <li class="role-skills-item">
                Display the latest news articles from RSS feeds
              </li>
              <li class="role-skills-item">
                Paginated view for browsing through news articles
              </li>
            </ul>
          </div>

          <div class="company-container">
            <h4 class="company-role-title">
              9. File Management </h4>
            <ul class="role-skills">
              <li class="role-skills-item">
                Add, update, and delete files: Users can upload new files, modify existing ones, and remove files they no longer need
              </li>
              <li class="role-skills-item">
                File validation: Ensures that files meet size and type restrictions, with a maximum file size of 100 MB and support
                for various file types (e.g., images, PDFs, Word documents, Excel spreadsheets, PowerPoint presentations)
              </li>
            </ul>
          </div>

          <div class="company-container">
            <h4 class="company-role-title">
              10. File Description </h4>
            <ul class="role-skills">
              <li class="role-skills-item">
                Description management: Each file can have a description associated with it, which can be updated as needed
              </li>
            </ul>
          </div>

          <div class="company-container">
            <h4 class="company-role-title">
              11. User Association </h4>
            <ul class="role-skills">
              <li class="role-skills-item">
                User-specific file storage: Files are associated with individual users, ensuring that each user can only access and
                manage their own files
              </li>
            </ul>
          </div>

          <div class="company-container">
            <h4 class="company-role-title">
              12. Edit and Remove Functionality </h4>
            <ul class="role-skills">
              <li class="role-skills-item">
                Edit file descriptions: Users can update the descriptions of their files as needed
              </li>
              <li class="role-skills-item">
                Remove files: Users can delete files, with the file being removed from both the database and the file system
              </li>
            </ul>
          </div>


        </div>
      </div>
      <!-- Sidebar -->
      <aside class="sidebar">
        <a href="/">
          <img src="/static/images/minion3.jpg" alt="Personal Assistant" width="370" height="370" />
        </a>
        <div class="sidebar-content">
          <!-- Contacts -->
          <div class="contacts-container">
            <h3 class="contacts-title">Contacts</h3>
            <p class="contacts-item">
              <span class="contacts-type">C:</span>
              <a class="contacts-detales" href="tel:+380507331167"
                >+38 098 930 97 11</a
              >
            </p>
            <p class="contacts-item">
              <span class="contacts-type"> E:</span>
              <a class="contacts-detales" href="mailto:t.harley029@gmail.com"
                >python_web22@meta.ua</a
              >
            </p>
          </div>
          <!-- Tech Skills -->
          <div class="skills-container">
            <h3 class="skills-title">Features</h3>
            <ul class="skills-list">
              <li class="skills-list-item">Contact Management</li>
              <li class="skills-list-item">Phone Number Management</li>
              <li class="skills-list-item">Note Management</li>
              <li class="skills-list-item">Tag Management</li>
              <li class="skills-list-item">Search Functionality</li>
              <li class="skills-list-item">User Authentication</li>
              <li class="skills-list-item">Pagination and Organization</li>
              <li class="skills-list-item">RSS Feed Integration</li>
              <li class="skills-list-item">File Management</li>
            </ul>
          </div>
          
        </div>
      </aside>
    </div>
  </body>
</html>
