<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <script src="/static/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Assistant</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/static/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/product.css" rel="stylesheet">
    <style>
        .btn-custom {
            flex: 1;
            /* Розтягує кнопки рівномірно */
            margin: 0 5px;
            /* Додає відступ між кнопками */
        }
        .modal-body .contacts-links {
            text-decoration: none;
            /* Прибирає підкреслення посилань */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
        <div class="container">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                <div class="offcanvas-body">
                    <ul class="navbar-nav flex-grow-1 justify-content-between">
                        <li class="nav-item"><a class="nav-link" href="{% url 'app_features' %}">Features</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal"
                                data-bs-target="#supportModal">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
            <div class="col-md-6 p-lg-5 mx-auto my-5">
                <h1 class="display-3 fw-bold">Personal Assistant</h1>
                <h3 class="fw-normal text-muted mb-3">Irrepressible Minions</h3>

                <div class="d-flex gap-3 justify-content-center lead fw-normal">
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary btn-custom" href="{% url 'contacts' %}">Address Book</a>
                    <a class="btn btn-success btn-custom" href="{% url 'files:files' %}">Files</a>
                    {% endif %}
                    <a class="btn btn-secondary btn-custom" href="{% url 'rss' %}">News</a>
                </div>

            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
    </main>

    <div class="container d-flex justify-content-end mb-4">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary me-2">Log Out</button>
        </form>
        {% else %}
        <a class="btn btn-secondary me-2" href="{% url 'users:signup' %}">Sign Up</a>
        <a class="btn btn-secondary me-2" href="{% url 'users:login' %}">Log In</a>
        {% endif %}
    </div>

    <footer class="container py-5">
        <div class="row">
            <div class="col-6 col-md">
                <h5>About</h5>
                <a class="link-secondary text-decoration-none" href="{% url 'our_team' %}">Team</a>
            </div>
        </div>
    </footer>

    <!-- Модальне вікно -->
    <div class="modal fade" id="supportModal" tabindex="-1" aria-labelledby="supportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="supportModalLabel">If help is needed</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Phone:
                    <a href="tel:+380989309711" class="contacts-links">+38 (098) 9309711</a></p>
                    <p>E-mail:
                    <a href="mailto:python_web22@meta.ua" class="contacts-links">python_web22@meta.ua</a></p>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/static/assets/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>