<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Irrepressible Owls description meta tag content" />
    <title>Irrepressible Minions</title>
    <!-- нормалізатор для різних браузерів -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css"
    />
    <!-- підключення шрифту -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- підключення стилів -->
    <link rel="stylesheet" href="/static/our_team_styles.css" />
  </head>
  <body>
    <!-- Секція Головного меню -->
    <header class="header">
      <div class="header-container container">
        <nav class="page-nav">
          <a class="logo-container" href="/">Irrepressible <span class="logo-2nd-part">Minions</span></a>
        </nav>
        <address>
          <ul class="contacts">
            <li>
              <a href="mailto:python_web22@meta.ua" class="contacts-links">python_web22@meta.ua</a>
            </li>
            <li>
              <a href="tel:+380989309711" class="contacts-links">+38 (098) 9309711</a>
            </li>
          </ul>
        </address>
      </div>
    </header>
    <main>

      <!-- 3-тя секція Our Team -->
      <section class="our-team">
        <div class="container">
          <h2 class="our-team-tytle">Our Team</h2>
          <ul class="our-team-list">
            <li class="our-team-list-card">
              <img
                src="/static/our_team_images/minion3.jpg"
                alt="Oleksandr Kharchenko"
                width="264"
                height="260"
                class="image"
              />
              <div class="our-team-list-content">
                <h3 class="our-team-list-card-tytle">Oleksandr Kharchenko</h3>
                <p class="paragraphs our-team-list-card-paragrapf">
                  Team Leader
                </p>
                <div class="card-social-lincs-container">
                  <a href="https://www.linkedin.com/in/alex-kharchenko/" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/linkedin_card.svg" alt="linkedin link" />
                  </a>
                  <a href="https://www.facebook.com/kharchenko.aleksandr" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/facebook_card.svg" alt="facebook link" />
                  </a>
                  <a href="https://www.instagram.com" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/instagram_card.svg" alt="instagram link" />
                  </a>
                  <a href="https://www.twitter.com" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/twitter_card.svg" alt="twitter link" />
                  </a>
                </div>
              </div>
            </li>
            <li class="our-team-list-card">
              <img
                src="/static/our_team_images/minion2.jpg"
                alt="Maria Stashenko"
                width="264"
                height="260"
                class="image"
              />
              <div class="our-team-list-content">
                <h3 class="our-team-list-card-tytle">Mariia Stashenko</h3>
                <p class="paragraphs our-team-list-card-paragrapf">
                  Scrum Master
                </p>
                <div class="card-social-lincs-container">
                  <a href="https://www.linkedin.com" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/linkedin_card.svg" alt="linkedin link" />
                  </a>
                  <a href="https://www.facebook.com/" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/facebook_card.svg" alt="facebook link" />
                  </a>
                  <a href="https://www.instagram.com" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/instagram_card.svg" alt="instagram link" />
                  </a>
                  <a href="https://www.twitter.com" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/twitter_card.svg" alt="twitter link" />
                  </a>
                </div>
              </div>
            </li>
            <li class="our-team-list-card">
              <img
                src="/static/our_team_images/minion1.jpg"
                alt="Genadyi Solomenko"
                width="264"
                height="260"
                class="image"
              />
              <div class="our-team-list-content">
                <h3 class="our-team-list-card-tytle">Gennadii Solomenko</h3>
                <p class="paragraphs our-team-list-card-paragrapf">Back End Developer</p>
                <div class="card-social-lincs-container">
                  <a href="https://www.linkedin.com/in/gennadii-solomenko/" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/linkedin_card.svg" alt="linkedin link" />
                  </a>
                  <a href="https://www.facebook.com/" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/facebook_card.svg" alt="facebook link" />
                  </a>
                  <a href="https://www.instagram.com" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/instagram_card.svg" alt="instagram link" />
                  </a>
                  <a href="https://www.twitter.com" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/twitter_card.svg" alt="twitter link" />
                  </a>
                </div>
              </div>
            </li>
            <li class="our-team-list-card">
              <img
                src="/static/our_team_images/minion.jpg"
                alt="Vitalyi Trifanov"
                width="264"
                height="260"
                class="image"
              />
              <div class="our-team-list-content">
                <h3 class="our-team-list-card-tytle">Vitalii Trifanov</h3>
                <p class="paragraphs our-team-list-card-paragrapf">
                  Back End Developer
                </p>
                <div class="card-social-lincs-container">
                  <a href="https://www.linkedin.com" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/linkedin_card.svg" alt="linkedin link" />
                  </a>
                  <a href="https://www.facebook.com/" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/facebook_card.svg" alt="facebook link" />
                  </a>
                  <a href="https://www.instagram.com" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/instagram_card.svg" alt="instagram link" />
                  </a>
                  <a href="https://www.twitter.com" class="card-social-link" target="_blank">
                    <img src="/static/our_team_images/twitter_card.svg" alt="twitter link" />
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

    </main>
    <!-- Секція Футера -->
    <footer class="footer-line">
      <div class="footer-line-container container">
        <div class="footer-left-side">
          <a class="logo-container" href="/">
            Irrepressible <span class="footer-logo-part">Minions</span>
          </a>
          <p class="footer-text">
            Transforming Ideas into Sequre and Scalable Applications.
          </p>
        </div>
        </div>
      </div>
    </footer>
  </body>
</html>
