{% extends 'contacts/update/update_base.html' %}

{% block content %}

<div class="col-md-12 mb-3">
    <a class="btn btn-secondary" href="{% url 'main_update' %}">Back</a>
</div>

            <div class="col-md-12">
                <ul class="list-group">
                    {% for note in notes %}
                    <li class="list-group-item note-item">
                        <span class="note-content">{{ note.note }}</span>
                        <a href="{% url 'update_note' note.pk %}" class="btn btn-sm btn-primary edit-button">Edit</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
{% endblock %}