{% extends 'contacts/add/base_add_data.html' %}

{% load static %}

{% block content %}

<main id="content-start" class="content" tabindex="-1">
    <!-- Content -->
    <div id="content" class="colM">
        <h1>Add phone number</h1>
        <div id="content-main">
            <form method="post" id="phonenumber_form" novalidate="">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <div class="submit-row">
                        <input type="submit" value="Save" class="default" name="save">
                        <input type="submit" value="Cancel" name="cancel">
                    </div>
                    <script id="django-admin-form-add-constants" src="/static/admin/js/change_form.js"
                        data-model-name="phonenumber" async="">
                        </script>
                    <script id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js"
                        data-prepopulated-fields="[]">
                        </script>
                </div>
            </form>
        </div>
        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</main>

{% endblock %}