{% extends 'contacts/delete/delete_base.html' %}

{% block title %}Delete Tags{% endblock %}

{% block content %}
    <style>
        .tag-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .btn-delete {
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row header-box pt-3 mb-3">
            <div class="col-md-12 mb-3">
                <h1>Delete Tags</h1>
                <ul class="list-group">
                    {% for tag in tags %}
                    <li class="list-group-item tag-item">
                        {{ tag.name }}
                        <a href="{% url 'tag_delete_confirm' tag.pk %}"
                            class="btn btn-danger btn-sm btn-delete">Delete</a>
                    </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'contacts' %}" class="btn btn-secondary mt-3">Back to Contacts</a>
            </div>
        </div>
    </div>
</body>

{% endblock %}>