{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>Password Reset</h2>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <span {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            <span class="text-danger">{{ form.email.errors }}</span>
        </div>
        <button type="submit" class="btn btn-primary">Request password reset</button>
    </form>
    <div class="mt-3">
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
    </div>
</div>
{% endblock %}